<footer>
    <div class="block block1">
        <div class="title">
            <img src="/assets/Logo.svg" alt="">
            <p>Digilearn</p>
        </div>
        <p class="text text-opacity">
            Unlock Digital Mastery Effortlessly!
            Explore and enhance your skills
            with our user-friendly platform.
        </p>
    </div>
    <div class="block block2">
        <div class="title">
            <p>Quick links</p>
        </div>
        <ul class="text text-opacity">
            <li>About us</li>
            <li>Our Class</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="block block3">
        <div class="title">
            <p>Resources</p>
        </div>
        <ul class="text text-opacity">
            <li>Resources</li>
            <li>Privacy policy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="block block4">
        <div class="title">
            <p>Social media</p>
        </div>
        <div class="images">
            <img class="text-opacity" src="/assets/Facebook.svg" alt="">
            <img class="text-opacity" src="/assets/Twitter.svg" alt="">
            <img class="text-opacity" src="/assets/Instagram.svg" alt="">
            <img class="text-opacity" src="/assets/Linkedin.svg" alt="">
            <img class="text-opacity" src="/assets/Youtube.svg" alt="">
        </div>
    </div>
</footer>