header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Outfit;
    font-weight: 400;
}


img {
    width: 42px;
    height: 38px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 48px;

    li {
        font-size: 20px;
    }
}