<section>
    <div class="about">
        <span></span>
        <p class="text-opacity">Testimonial</p>
    </div>
    <h1>Student Testimonial</h1>
    <div class="students">
        @for (student of students; track student.id) {
        <div class="student text-opacity">
            <p class="author">{{ student.author }}</p>
            <p class="spec">{{ student.spec }}</p>
            <div class="rating"><img src="/assets/Star.svg" alt="">
                <p>{{ student.rating }}</p>
            </div>
            <p class="text">{{ student.text }}</p>
        </div>
        }
    </div>
</section>