section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 80px;

    .banner-image {
        // width: 528px;
        // object-fit: cover;
        width: 100%;
        height: 440px;
    }

    .main-part {
        .about {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
            margin-bottom: 16px;

            span {
                width: 64px;
                height: 4px;
                display: block;
                background-color: var(--blood);
            }

            p {
                font-family: Inter;
                font-size: 24px;
                font-weight: 400;
            }
        }

        h1 {
            font-family: 'Plus Jakarta Sans';
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 40px;
        }

        .description {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 16px;
            display: flex;
            margin-top: auto;
        }

        button {
            padding: 24px 80px;
            background-color: var(--blood);
            color: var(--white);
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
            border-radius: 16px;
            border: none;
            font-family: Inter;
            font-size: 20px;
            font-weight: 700;
            transition: all ease-in-out .25s;

            &:hover {
                cursor: pointer;
                filter: grayscale(25%);
            }
        }
    }

    .advantages {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            width: 272px;
            height: 177px;
            padding: 40px;
            gap: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title {
                font-family: Plus Jakarta Sans;
                font-size: 64px;
                font-weight: 700;
                text-align: center;

                span {
                    color: var(--blood);
                }
            }

            .text {
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}